In [1]:
import pandas as pd

df = pd.read_csv("gender_submission.csv")
df.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
dtypes: int64(2)
memory usage: 6.7 KB

In [3]:
df.isnull().sum()

PassengerId    0
Survived       0
dtype: int64

In [4]:
before = df.shape[0]
df = df.drop_duplicates()
after = df.shape[0]

print("Rows before:", before)
print("Rows after:", after)

Rows before: 418
Rows after: 418

In [6]:
# Convert Survived to integer
df['Survived'] = df['Survived'].astype(int)

# Convert PassengerId to integer
df['PassengerId'] = df['PassengerId'].astype(int)

In [10]:

# Survival label
df['Survival_Status'] = df['Survived'].map({1: 'Survived', 0: 'Not Survived'})

1. Loaded the Titanic dataset and inspected its structure using head() and info().
2. Identified missing values using isnull().sum().
3. Filled missing Age values using median to avoid skew.
4. Filled missing Embarked values using mode.
5. Dropped Cabin column due to excessive missing data.
6. Removed duplicate rows and verified row count.
7. Converted Survived and PassengerId to integer types.
8. Created Survived status feature for better analysis.
9. Saved the cleaned dataset for further modeling.

In [14]:
!zip output_files.zip cleaned_data.csv Task5_Cleaning.ipynb
from google.colab import files
files.download("output_files.zip")

	zip warning: name not matched: Task5_Cleaning.ipynb
  adding: cleaned_data.csv (deflated 85%)